{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Myshop |{% block title %} {% endblock %}</title>
  {% tailwind_css %}
</head>
<body class="bg-gray-100 text-gray-800">
  <!-- Navbar -->
  {% include "layout/nav.html" %}

 
    {% block content %}
    <!-- Page-specific content goes here -->
    {% endblock %}


  <!-- Footer -->
  {% include "layout/footer.html" %}
</body>
</html>
